if TARGET_ADVANTECH_RK3399

choice
	prompt "advantech rk3399 platform select"

config PLAT_RSB3710A1_2G
	bool "Support rsb3710a1 2G"

config PLAT_RSB4710A2_2G
	bool "Support rsb4710a2 2G"

config PLAT_ROM5780A1_2G
	bool "Support rom5780a1 2G"

config PLAT_ROM5780A2_2G
	bool "Support rom5780a2 2G"

config PLAT_ROM5780A3_2G
	bool "Support rom5780a3 2G"

config PLAT_RC03A1_4G
	bool "Support RC03 4G"
endchoice

config SYS_BOARD
	default "advantech"

config SYS_VENDOR
	default "rockchip"

if PLAT_RSB3710A1_2G
config SYS_CONFIG_NAME
	default "rk3399_rsb3710"

config ADV_EDP_LVDS_USE_THE_SAME_RESOURCE
	def_bool y
endif

if PLAT_RSB4710A2_2G
config SYS_CONFIG_NAME
	default "rk3399_rsb4710"

endif

if PLAT_ROM5780A1_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

if PLAT_ROM5780A2_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

if PLAT_ROM5780A3_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

if PLAT_RC03A1_4G
config SYS_CONFIG_NAME
	default "rk3399_rc03"

endif

config CUSTOM_GY_SPECIFIC_OPTIONS
	bool "specific options from customer gy"
	default n

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
