if TARGET_ADVANTECH_RK3399

choice
	prompt "advantech rk3399 platform select"

config PLAT_RSB4710A2_2G
	bool "Support rsb4710a2 2G"

config PLAT_ROM5780A1_2G
	bool "Support rom5780a1 2G"

config PLAT_ROM5780A2_2G
	bool "Support rom5780a2 2G"

config PLAT_ROM5780A3_2G
	bool "Support rom5780a3 2G"
endchoice

config SYS_BOARD
	default "advantech"

config SYS_VENDOR
	default "rockchip"

if PLAT_RSB4710A2_2G
config SYS_CONFIG_NAME
	default "rk3399_rsb4710"

endif

if PLAT_ROM5780A1_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

if PLAT_ROM5780A2_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

if PLAT_ROM5780A3_2G
config SYS_CONFIG_NAME
	default "rk3399_rom5780"

endif

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
